@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital@0;1&family=Merriweather:opsz@18..144&display=swap');

* {
    font-family: "Libre Baskerville", serif;
    padding: 0;
    margin: 0;
}

body {
    margin: 0px;
}


.logo img {
    min-width: 10px;
    max-width: 90px;
}

ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;

}


li {
    font-size: 15px;
}

.containerTitulo {
    padding-left: 27%;
}

.TituloPratosPrincipais {
    font-size: 35px;
    color: rgb(210, 167, 86);
}

header {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.911);

}

.navbar {
    margin-left: auto;
    margin-right: 20px;
}

.navbar a:hover {
    color: white;
}

.navbar a {
    text-decoration: none;
    color: rgb(210, 167, 86);
}


#introducao {
    background-image: url(/Imagens/ImagemFundoIntroducao.png);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    
}

#introducao img {
    filter: brightness(100%);

}

#introducao p {
    color: white;
    place-content: center space-between;
    margin-top: 2%;
    max-width: 50%;
    margin-left: 1%;
}

#introducao h2 {
    color: rgb(210, 167, 86);
    padding-top: 4%;
    margin-left: 1%;

}

.botoesDescricao {
    display: flex;
    color: rgb(210, 167, 86);
    display: flex;
    gap: 20px;
    align-items: baseline;
}

.chef:hover{
    color: white;
    padding:blue;
    transform: scale(1.2); 

}

#principaisPratos img {
    max-width: 200px;
    padding: 10px;
    background-color: black;

}


#principaisPratos p {
    max-width: 50%;
    font-size: 15px;

}

#principaisPratos h2 {
    display: flex;
}




#reservarBotaoDescricao {
    border: 2px solid rgb(210, 167, 86);
    padding: 8px;
    border-radius: 5px;
    color: rgb(210, 167, 86);
    text-decoration: none;
    transition: transform 0.3s ease;

}

#reservarBotaoDescricao:hover {
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    border-radius: 5px;
    color: white;
    transform: scale(1.2); 

}


.reservaHeader a {
    border: 2px solid rgb(210, 167, 86);
    padding: 8px;
    border-radius: 5px;
    transform: scale(1.2); 

}

.reservaHeader a:hover {
    border: 2px solid rgb(210, 167, 86);
    padding: 8px;
    border-radius: 5px;
    color: white;
    background-color: rgb(210, 167, 86);
    transform: scale(1.2); 

}


.conteudo {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
    margin: 0 auto;
    gap: 30px;
}


#videoSite {
    display: flex;
    max-width: 500px;
    border: 2px solid rgb(210, 167, 86);
    padding: 8px;
    border-radius: 20px;
}

.Pratos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
    box-shadow: -1px -1px 9px gray;
    width: 35%;
    flex: 1 1 35%;
    gap: 15px;
    transition: transform 0.3s ease;
}

.Pratos:hover{
    transform: scale(1.2); 

}


.Pratos img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.descricaoPratos {
    display: flex;
    max-width: 80%;

}


footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}


footer .contact-info p,
footer .copyright p {
    margin: 10px 0;
    color: #333;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.duplaPratos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    flex: 2;
}

.horarioFuncionamento {
    border: 2px solid rgb(210, 167, 86);
    padding: 8px;
    border-radius: 5px;
    color: rgb(210, 167, 86);
    text-decoration: none;
}

.formulario {
    border: 2px solid rgb(210, 167, 86);
    padding: 8px;
    border-radius: 5px;
    color: rgb(210, 167, 86);
    text-decoration: none;
}


.horario {
    display: flex;
    justify-content: space-between;
}

.chef{
    text-decoration: none;
    color: rgb(210, 167, 86);
    place-content: center space-between;
    margin-top: 1%;
    margin-left: 1%;
    transition: transform 0.3s ease;

}

.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid rgb(210, 167, 86);
    outline: none;
    color: grey;
    
}