@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital@0;1&family=Merriweather:opsz@18..144&display=swap');

* {
    font-family: "Libre Baskerville", serif;
    padding: 0;
    margin: 0;
}

body {
    margin: 0px;
}


.logo img {
    min-width: 10px;
    max-width: 90px;
}

ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;

}


li {
    font-size: 15px;
}

.TituloPratosPrincipais {
    display: flex;
    font-size: 35px;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.911);

}

.navbar {
    margin-left: auto;
    margin-right: 20px;
}

.navbar a:hover {
    color: white;
}

.navbar a {
    text-decoration: none;
    color: rgb(210, 167, 86);
}


#introducao {
    background-image: url(/Imagens/ImagemFundoIntroducao.png);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
}

#introducao img {
    filter: brightness(100%);

}

#introducao p {
    color: white;
    place-content: center space-between;
    margin-top: 2%;
    max-width: 50%;
    margin-left: 1%;
}

#introducao h2 {
    color: rgb(210, 167, 86);
    padding-top: 4%;
    margin-left: 1%;

}

.botoesDescricao {
    color: rgb(210, 167, 86);
    display: flex;
    gap: 20px;
    align-items: baseline;
}

#principaisPratos img {
    max-width: 200px;
    padding: 10px;
    background-color: black;

}


#principaisPratos p {
    max-width: 50%;
    font-size: 15px;

}

#principaisPratos h2 {
    display: flex;
}




#reservarBotaoDescricao {
    border: 2px solid rgb(210, 167, 86);
    padding: 8px;
    border-radius: 5px;
    color: rgb(210, 167, 86);
    text-decoration: none;
}

#reservarBotaoDescricao:hover {
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    border-radius: 5px;
    color: white;
}


.reservaHeader a {
    border: 2px solid rgb(210, 167, 86);
    padding: 8px;
    border-radius: 5px;

}

.reservaHeader a:hover {
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    border-radius: 5px;
    color: white;
}


.conteudo {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: first baseline;
}


#videoSite {
    max-width: 500px;
}




#dadosPratosPrincipais {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.colunaPratos1 {
    display: flex;
}


.Pratos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;


}

.Pratos img{
    min-height: 100px;
    max-height: 500px;
    min-width: 100px;
    max-width: 400px;
    width: 350px;
    height: 310px;
    object-fit: cover;
}

.descricaoPratos{
    display: flex;
    max-width: 70%;
}


footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align:center;
    font-family: Arial, sans-serif;
}


footer .contact-info p,
footer .copyright p {
    margin: 10px 0;
    color: #333;
}

